<html>
    <body>
        <h1>crude operstion</h1>
        <h2><%=title %></h2>
        <form action="/update" method= "POST">
            <input type="hidden" name="id" required value="<%= user.id%>"/>
            <label for="name">name</label>
            <input type="text" placeholder="enter name" name="name" required value="<%= user.name%>"/>
            <br/>
            <label for="email">email</label>
            <input type="email" placeholder="enter email" name="email" required value="<%= user.email%>"/>
            <br/>
            <label for="phone">phone</label>
            <input type="text" placeholder="enter phone number" name="phone" required value="<%= user.phone_no%>"/>
            <br/>
            <button type='submit'>add users</button>

        </form>
    </body>
</html>