<html>
    <body>
        <h1>crude operstion</h1>
        <h2><%=title %></h2>
        <a href="/add-user">add</a>
        <div class= 'container'>
            <table>
             <thead>
                <tr>
                    <th>name</th>
                    <th>Emai</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                
            </thead>
            <tbody>
                <% users.forEach((user)=>{%>
                    <tr>
                        <td><%= user.name%></td>
                        <td><%= user.email%></td>
                        <td><%= user.phone_no%></td>
                        <td><%= user.name%></td>
                        <td>
                           <button> <a href="edit/<%= user.id%>">Edit</a></button>
                            <button> <a href="delete/<%= user.id%>">delete</a></button>
                        </td> 
                    </tr> 
              <%  });  %>
            </tbody>
        </table>
    </div>
    </body>
</html>